.sidebar {
    flex: 0.35;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f5ff;
    border-right: 1px solid #8f98b3;
}

.sidebar_header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.sidebar_avatar {
    cursor: pointer;
    margin: 10px;
}

.sidebar_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #e6ecff;
    color: #8f98b3;
    border-radius: 5px;
}

.sidebar_input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.sidebar_chats {
    overflow: scroll;
}

/* Chrome, safari, opera */
.sidebar_chats::-webkit-scrollbar {
    display:none;
}

.sidebar_chats {
    -ms-overflow-style: none;
    scrollbar-width: none;
}